node_modules/
.pnpm-store/
.dist/
.DS_Store
.vscode/
.turbo/
dist/
build/
coverage/
.env*
*.log
packages/*/dist
packages/core/*/dist
packages/runtime/*/dist
packages/components/*/dist
packages/renderers/*/dist
packages/sdk/*/dist
packages/tooling/*/dist
apps/*/dist
.apps/**
**/*.local
*.tsbuildinfo
